openapi: 3.0.3
info:
  title: VALR Exchange API
  version: 0.1.0
  description: |
    An unofficial, community-maintained OpenAPI specification for the
    [VALR cryptocurrency exchange API](https://www.valr.com/).

    This specification serves as the foundation for auto-generated
    SDKs in multiple programming languages as part of the **Open VALR**
    open source project.

  termsOfService: https://www.valr.com/
  contact:
    name: Open VALR Contributors
    url: https://github.com/barrymichaeldoyle/open-valr
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.valr.com
    description: VALR Production API

paths:
  # Public APIs
  /v1/public/risklimit/{currencypair}: # Available Leverage Options
    $ref: "./paths/public.yaml#/paths/~1v1~1public~1risklimit~1{currencypair}"
  /v1/public/status: # VALR Status
    $ref: "./paths/public.yaml#/paths/~1v1~1public~1status"

components:
  schemas:
    ValrStatus:
      $ref: "./components/schemas.yaml#/components/schemas/ValrStatus"
    ErrorResponse:
      $ref: "./components/schemas.yaml#/components/schemas/ErrorResponse"
    LeverageOption:
      $ref: "./components/schemas.yaml#/components/schemas/LeverageOption"
  responses:
    BadRequest:
      $ref: "./components/schemas.yaml#/components/responses/BadRequest"
    ServiceUnavailable:
      $ref: "./components/schemas.yaml#/components/responses/ServiceUnavailable"
    InternalServerError:
      $ref: "./components/schemas.yaml#/components/responses/InternalServerError"
