openapi: 3.0.3
info:
  title: VALR Exchange API
  version: 0.1.0
  description: |
    An unofficial, community-maintained OpenAPI specification for the
    [VALR cryptocurrency exchange API](https://www.valr.com/).

    This specification serves as the foundation for auto-generated
    SDKs in multiple programming languages as part of the **Open VALR**
    open source project.

  termsOfService: https://www.valr.com/
  contact:
    name: Barry Michael Doyle
    url: https://github.com/barrymichaeldoyle/open-valr
    email: barry@barrymichaeldoyle.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.valr.com
    description: VALR Production API

tags:
  - name: Public
    description: Public API endpoints that do not require authentication
  - name: Account
    description: Account API endpoints that require authentication

paths:
  # Public APIs
  /v1/public/risklimit/{currencypair}: # Available Leverage Options
    $ref: "./paths/public.yaml#/paths/~1v1~1public~1risklimit~1{currencypair}"
  /v1/public/currencies: # Currencies
    $ref: "./paths/public.yaml#/paths/~1v1~1public~1currencies"
  /v1/public/pairs: # Currency Pairs
    $ref: "./paths/public.yaml#/paths/~1v1~1public~1pairs"
  /v1/public/pairs/{type}: # Currency Pairs By Type
    $ref: "./paths/public.yaml#/paths/~1v1~1public~1pairs~1{type}"
  /v1/public/futures/funding/history: # Futures Funding Rate History
    $ref: "./paths/public.yaml#/paths/~1v1~1public~1futures~1funding~1history"
  /v1/public/futures/info: # Futures Information
    $ref: "./paths/public.yaml#/paths/~1v1~1public~1futures~1info"
  /v1/public/loans/info: # Loan Info
    $ref: "./paths/public.yaml#/paths/~1v1~1public~1loans~1info"
  /v1/public/{currencyPair}/buckets: # Price Buckets for a currency pair
    $ref: "./paths/public.yaml#/paths/~1v1~1public~1{currencyPair}~1buckets"
  /v1/public/{currencyPair}/markprice/buckets: # Mark Price Buckets for a currency pair
    $ref: "./paths/public.yaml#/paths/~1v1~1public~1{currencyPair}~1markprice~1buckets"
  /v1/public/ordertypes: # Order Types
    $ref: "./paths/public.yaml#/paths/~1v1~1public~1ordertypes"
  /v1/public/{currencyPair}/ordertypes: # Order Types for a currency pair
    $ref: "./paths/public.yaml#/paths/~1v1~1public~1{currencyPair}~1ordertypes"
  /v1/public/marketsummary: # Market Summary
    $ref: "./paths/public.yaml#/paths/~1v1~1public~1marketsummary"
  /v1/public/{currencyPair}/marketsummary: # Market Summary for a currency pair
    $ref: "./paths/public.yaml#/paths/~1v1~1public~1{currencyPair}~1marketsummary"
  /v1/public/{currencyPair}/trades: # Trade History
    $ref: "./paths/public.yaml#/paths/~1v1~1public~1{currencyPair}~1trades"
  /v1/public/{currencyPair}/orderbook: # Order Book
    $ref: "./paths/public.yaml#/paths/~1v1~1public~1{currencyPair}~1orderbook"
  /v1/public/{currencyPair}/orderbook/full: # Order Book (Non aggregated)
    $ref: "./paths/public.yaml#/paths/~1v1~1public~1{currencyPair}~1orderbook~1full"
  /v1/public/time: # Server Time
    $ref: "./paths/public.yaml#/paths/~1v1~1public~1time"
  /v1/public/status: # VALR Status
    $ref: "./paths/public.yaml#/paths/~1v1~1public~1status"
    
  # Account APIs
  /v1/account/api-keys/current: # Current API Key Info
    $ref: "./paths/account.yaml#/paths/~1v1~1account~1api-keys~1current"
  /v1/account/subaccount/{id}: # Subaccount
    $ref: "./paths/account.yaml#/paths/~1v1~1account~1subaccount~1{id}"
  /v1/account/subaccounts: # Retrieve Subaccounts
    $ref: "./paths/account.yaml#/paths/~1v1~1account~1subaccounts"
  /v1/account/balances/all: # All Non Zero Balances
    $ref: "./paths/account.yaml#/paths/~1v1~1account~1balances~1all"

components:
  schemas:
    ValrStatus:
      $ref: "./components/schemas.yaml#/components/schemas/ValrStatus"
    ServerTime:
      $ref: "./components/schemas.yaml#/components/schemas/ServerTime"
    ErrorResponse:
      $ref: "./components/schemas.yaml#/components/schemas/ErrorResponse"
    LeverageOption:
      $ref: "./components/schemas.yaml#/components/schemas/LeverageOption"
    Currency:
      $ref: "./components/schemas.yaml#/components/schemas/Currency"
    SupportedNetwork:
      $ref: "./components/schemas.yaml#/components/schemas/SupportedNetwork"
    CurrencyPair:
      $ref: "./components/schemas.yaml#/components/schemas/CurrencyPair"
    FundingRateHistory:
      $ref: "./components/schemas.yaml#/components/schemas/FundingRateHistory"
    FuturesInfo:
      $ref: "./components/schemas.yaml#/components/schemas/FuturesInfo"
    LoanInfo:
      $ref: "./components/schemas.yaml#/components/schemas/LoanInfo"
    MarkPriceBucket:
      $ref: "./components/schemas.yaml#/components/schemas/MarkPriceBucket"
    PriceBucket:
      $ref: "./components/schemas.yaml#/components/schemas/PriceBucket"
    MarketSummary:
      $ref: "./components/schemas.yaml#/components/schemas/MarketSummary"
    Trade:
      $ref: "./components/schemas.yaml#/components/schemas/Trade"
    OrderBook:
      $ref: "./components/schemas.yaml#/components/schemas/OrderBook"
    OrderBookEntry:
      $ref: "./components/schemas.yaml#/components/schemas/OrderBookEntry"
    OrderBookFull:
      $ref: "./components/schemas.yaml#/components/schemas/OrderBookFull"
    OrderBookFullEntry:
      $ref: "./components/schemas.yaml#/components/schemas/OrderBookFullEntry"
    CurrencyPairOrderTypes:
      $ref: "./components/schemas.yaml#/components/schemas/CurrencyPairOrderTypes"
    AllowedWithdrawAddress:
      $ref: "./components/schemas.yaml#/components/schemas/AllowedWithdrawAddress"
    ApiKeyInfo:
      $ref: "./components/schemas.yaml#/components/schemas/ApiKeyInfo"
    Subaccount:
      $ref: "./components/schemas.yaml#/components/schemas/Subaccount"
    SubaccountSummary:
      $ref: "./components/schemas.yaml#/components/schemas/SubaccountSummary"
    AccountBalance:
      $ref: "./components/schemas.yaml#/components/schemas/AccountBalance"
    AccountBalances:
      $ref: "./components/schemas.yaml#/components/schemas/AccountBalances"
  securitySchemes:
    ValrApiKey:
      type: apiKey
      in: header
      name: X-VALR-API-KEY
      description: >
        VALR API authentication requires three headers:
        - X-VALR-API-KEY: Your API key
        - X-VALR-SIGNATURE: Request signature generated for this request
        - X-VALR-TIMESTAMP: Unix epoch timestamp in milliseconds used to generate the signature
        See the VALR API documentation for details on how to generate the request signature.
  responses:
    BadRequest:
      $ref: "./components/schemas.yaml#/components/responses/BadRequest"
    ServiceUnavailable:
      $ref: "./components/schemas.yaml#/components/responses/ServiceUnavailable"
    InternalServerError:
      $ref: "./components/schemas.yaml#/components/responses/InternalServerError"
